.btn-primary {
  background-color: #4B9CD3;
  border-color: #4B9CD3;
}



/* Top Bar */

.navbar-brand {
    height: 100%;
    display: block;
}

.collapse {
    margin-left: 48px;
}
.topnav {
    overflow: hidden;
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    max-height: 80px;
  }
  
.topnav a {
    float: left;
    color: #777777;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 20px;
    max-height: 80px;
  }
  
#name {
    background-color: #4B9CD3;
    color: white;
    margin-right: 47%;
    padding: 15px;
  }

.topnavsection {
    border-bottom-style: solid;
    border-color: #cccccc;
    border-bottom-width: 1px;
    border-top-width: 0;
    background: #ffffff;
    white-space: nowrap;
    max-height: 80px;
  }

/* Headers, Fonts, and Body */
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 20px;
}

h2 {
    color: #4B9CD3;
}

body {
    background-image: url("../images/concrete.png");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

p {
    color: #777777;
}

/* Content */

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
  }



  html, body {
    height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
    background-color: #666666;
    color: #b9b9b9;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 10px;
    border-top-color: #4B9CD3;
    border-top-width: 8px;
    border-top-style: solid;
    font-size: 11px;
    min-width: 100%;
    margin-top: 20px;
  }

/* Contact Form */

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #e2e2e2; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4B9CD3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #4aaaa598;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    position: relative;
    width: 960px;
    padding: 20px;
    margin-bottom: auto;
    background: #ffffff;
    color: #777777;
    margin-top: 20px;
}

/* Image */

img {
    max-width: 100%;
    height: auto;
    width: auto;

}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  display: flex;
}
.card-img {
  max-height: 100%;
  min-height: 100%;
  position: absolute;
}

/* About Section */

#about {
    float: left;
    width: 62%;
    padding: 5px 30px;
}

/* Portfolio Boxes */

.box-set {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    position: relative;
    height: 960px;
    width: 960px;
    padding: 20px;
    margin-bottom: auto;
    background: #ffffff;
    color: #777777;
}
.box {
    width: 250px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
  }
  
  .box-1 {
    background-image: url("https://stellalana.github.io/Basic-Portfolio/assets/images/kitkat.jpg");
    background-size: contain;
    background-position: center;
    top: 10%;
    left: 5%;
  }


  .box-2 {
    background-image: url("https://stellalana.github.io/Basic-Portfolio/assets/images/scream.jpg");
    background-size: contain;
    background-position: center;
    top: 10%;
    right: 25%
  }
  
  .box-3 {
    background-image: url("https://stellalana.github.io/Basic-Portfolio/assets/images/ded.jpg");
    background-size: contain;
    background-position: center;
    top: 35%;
    left: 5%;
  }
  
  .box-4 {
    background-image: url("https://stellalana.github.io/Basic-Portfolio/assets/images/rose.jpg");
    background-size: contain;
    background-position: center;
    top: 35%;
    right: 25%
  }

  .box-5 {
    background-image: url("https://stellalana.github.io/Basic-Portfolio/assets/images/bunbun.jpg");
    background-size: contain;
    background-position: center;
    top: 60%;
    left: 5%;
  }
  
  #boxtext {
    text-align: center;
    background-color: #4B9CD3;
    width: 100%;
    height: 50px;
    margin-bottom: 2px;
    padding-top: 12px;
    color: #ffffff;
    margin-top: 80%;
  }
  .card-img-overlay {
    padding: 10px 0px;
    text-align: center;
  }
  .card-title {
    background-color: #4B9CD3;
    width: 100%;
    margin-top: 80%;
    padding: 5px
  }

  a {
    color: white;
  }

/* Media Query */

  @media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }
  }

  
  